footer {
  margin: 0;
  background-color: black;
  height: 3em;
  width: 100%;
  text-align: center;
}

footer * {
  text-decoration: none;
  color: white;
  list-style: none;
  line-height: 3em;
}

footer ul {
  padding: 0;
  margin: 0;
}

#footer-left {
  padding-right: 0.5em;
}

#footer-right {
  padding-left: 0.5em;
}