body{
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
}

.header{
  margin-right: 0;
  position: fixed;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60px;
  height: 60px;
  width: 100%;
}

.header a {
  list-style: none;
  line-height: 60px;
}

.header a:hover {
  color: #b4b4b4;
}

.logo {
  margin: auto;
  grid-column: 1;
  grid-row: 1;
  margin-left: 60px;
  padding: 5px;
}

.headerButtons {
  grid-column: 2;
  grid-row: 1;
  float: right;
}

.headerButtons a {
  padding-right: 30px;
}

/*  --------------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: 'Arial', serif;
}

.title {
  padding: 15px 0;
  text-align: center;
}

.title p {
  font-size: 1.5em;
  color: #ffffff;
  padding: 10px;
  background-color: #000000;
  border-radius: 10px;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  display: inline;
  text-align: center;
}

h2 {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

.cite {
  color: #5c5c5c;
  font-style: italic;
  padding: 0 20px;
}

p {
  line-height: 1.7em;
}

table {
  border-color: none;
  padding: 15px;
  width: 70%;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: left;
}

/* ---------------------------------------------------------------------------------- */
.container {
  vertical-align: top;
  width: 95%;
  padding: 75px;
  border: 50px;
}

.slider, .about, .services, .credentials, .contact {
  width: 100%;
  height: 1000px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderFloater {
  border-radius: 15px;
  padding: 35px;
  margin: 0;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.sliderFloater h2 {
  margin-top: 0;
  padding: 0;
}

.about {
  background-color: #f4f4f4;
}

.project, .patron {
  flex: 1;
}

.services {
  background-color: #e7e7e7;
}

.single, .bundles {
  flex: 1;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

.credentials {
  background-color: #d0d0d0;
}

.contact {
  /* background-color: #b4b4b4; */
}

.contactFloater {
  background-color: green;
}

.impressum {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  padding: 5px;
}

.impressum a {
  text-decoration: none;
  color: #000000;
  list-style: none;
  padding-left: 15px;
}

.impressum a:hover {
  color: #b4b4b4;
}