article {
  width: 100%;
  height: inherit;
}

.container {
  padding: 1em;
  /* width: 100%; */
  /* vertical-align: top;
  width: 95%;
  padding: 75px;
  border: 50px; */
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

#slider, #contact {
  height: 100vh;
}

#slider img, #contact img {
  object-fit: cover;
  height: 100%;
}

#about {
  background-color: #F8F8F8;
}

.project, .patron, .single, .bundles {
  flex: block;
}

#services {
  background-color: #E8E8E8;
}

.single {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

#credentials {
  background-color: #D0D0D0;
}

#order-complete {
  color: dodgerBlue;
}

#order-complete:hover {
  color: #b4b4b4;
}

#request * {
  display: inline-block;
}

#request a {
  padding-right: 0.5em;
}

#request p {
  font-weight: bold;
  font-size: 8pt;
  border-radius: 1em;
  background-color: dodgerBlue;
  color: white;
  width: 1.75em;
  transform:translate(0,-15%);
}

#impressum, #privacy {
  text-align: center;
}

@media screen and (min-width: 1023px) { /* Ab iPad Mini */
  .container {
    width: 65%;
    padding: 1em 0;
    margin: 0 auto;
  }

  .project, .single {
    flex: 2;
    padding-right: 2em;
  }

  .patron, .bundles {
    flex: 1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 55%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 45%;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    width: 35%;
  }
}