body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Arial', serif;
  font-size: 11pt;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: #b4b4b4;
}

.title {
  padding: 15px 0;
  text-align: center;
}

.title p {
  font-size: 1.5em;
  color: #ffffff;
  padding: 10px;
  background-color: #000000;
  border-radius: 10px;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  display: inline;
  text-align: center;
}

h2 {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  font-size: 14pt;
}

.cite {
  color: #5c5c5c;
  font-style: italic;
  padding: 0 20px;
}

p {
  line-height: 1.7em;
  word-wrap: normal;
  word-break: break-word;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p.cite {
  padding: 1em;
}

#t-wrapper {
  padding: 0;
  margin: 0;
}

table {
  border-radius: 0.25em;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  text-align: left;
  margin-bottom: 1em;
}

table tbody {
  overflow: scroll;
  height: 11em;
}

table tbody, table thead {
  display: block;
}

table td {
  padding: 0;
  margin: 0;
}

table select {
  width: 100%;
}

.grecaptcha-badge {
    visibility: hidden;
}