@import './Variables.scss';

.button {
  color: $color-button--light;

  &:hover {
    color: darken($color-button--light, 15%);

    & + .pagination_arrow-right {
      border-left: solid 5px darken($color-button--light, 15%);
    }

    & + .pagination_arrow-left {
      border-right: solid 5px darken($color-button--light, 15%);
    }

  }
}