.dashboard {
  display: flex;
  padding-top: 3.5em;
  height: calc(100vh - 3.5em);

  @include tablet {
    flex-wrap: wrap;
  }

  .sidebar {
    overflow: scroll;
    flex-grow: 1;
    min-width: 15em;

    @include tablet { //TODO: hack, no idea whats wrong with the flex items here
      min-height: 0;
    }
  }

  &_context-area {
    width: 100%;

    @include tablet { //TODO: hack, max-height not working at all
      height: 100%;
    }

    &_wrapper {
      position: relative;
      padding: 1em;
      height: calc(100% - 2em);
      width: calc(100% - 2em);
      overflow: scroll;
    }
  }
}