.u-margin-top--medium {
  margin-top: 1em;
}

.u-margin-top--large {
  margin-top: 2em;
}

.u-margin-top--huge {
  margin-top: 3em;
}

.u-margin-bottom--small {
  margin-bottom: .5em;
}

.u-margin-bottom--medium {
  margin-bottom: 1em;
}

.u-margin-bottom--huge {
  margin-bottom: 3em;
}

.u-margin-top-bottom--medium {
  margin-bottom: 1em;
  margin-top: 1em;
}

.u-margin-top-bottom--large {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.u-margin--medium {
  margin: 1em;
}