$color-button--light: #347FC4;
$color-button--dark: #409BEF;

$color-delete--light: #EA2B1F;
$color-delete--dark: #941B0C;

$color-add--light: #06AA1F;
$color-add--dark: #248232;

$color-nav--light: #C6E6FF;
$color-nav--dark: #071E30;

$color-background--light: #FBFBFB;
$color-background--dark: #0F0F0F;

$color-text--light: #080808;
$color-text--dark: #F0EFF4;

$color-underscore--light: #ECD444;