.customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.customer {
  padding: 1.5em;

  &_logo {
    max-width: 10em;
    height: 4em;
    object-fit: contain;
    margin-bottom: 0.5em;
  }

  & p {
    font-size: 11pt;
    font-style: italic;
    color: darken(white, 75%);
    display: inline;
  }


}