header {
  margin: 0;
  position: fixed;
  background-color: white;
  height: 3em;
  width: 100%;
  z-index: 10;
}

header * {
  float: left;
  line-height: 3em;
}

.h-left, .h-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-left {
  padding-left: 1em;
  float: left;
}

.h-logo {
  margin-top: 0.5em;
  height: 2em;
}

.h-right {
  padding-right: 1.5em;
  float: right;
}

.h-right ul {
  display: none;
  padding: 0;
  margin: 0;
}

.h-right ul li {
  padding-left: 1em;
  width: 100%;
}

label {
  position: sticky;
  display: inherit;
  padding-right: 0;
}

label:hover {
  cursor: pointer;
}

#checkbox {
  display: none;
}

.h-right #checkbox:checked ~ ul {
  padding-top: 0.5em;
  display: inline-block;
  background-color: white;
}

.h-right #checkbox:checked ~ ul li {
  text-align: center;
}

@media screen and (min-width: 550px) { /* Maximale Headerlänge */
  label, #hamburger {
    display: none;
  }

  .h-right ul {
    display: inherit;
  }
}

@media screen and (min-width: 1023px) { /* Ab iPad Mini */
  .h-left {
    padding-left: 17%;
  }
  .h-right {
    padding-right: 18%;
  }
}

@media screen and (min-width: 1280px) {
  .h-left {
    padding-left: 22%;
  }
  .h-right {
    padding-right: 23%;
  }
}

@media screen and (min-width: 1600px) {
  .h-left {
    padding-left: 27%;
  }
  .h-right {
    padding-right: 28%;
  }
}

@media screen and (min-width: 2560px) {
  .h-left {
    padding-left: 32.25%;
  }
  .h-right {
    padding-right: 32.5%;
  }
}